<div class='container'>
    <p-card>
        
        <ng-template pTemplate='header'>
            <img alt="Bitcoin Image" src="assets/images/crypto.jpg" id="header-img">
        </ng-template>
        <div class='content'>
            <h1>Programmatically Trade 1000s of Cryptocurrencies Using Our Fully Fledged TradeApp </h1>
        </div>
        <ng-template pTemplate='footer'>
            <p-button label="Configure Your Custom Binance API" icon="pi pi-check" [style]="{'margin-bottom': '20px'}"></p-button>
            <p-button label="Proceed With an Already Configured API" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em', 'margin-bottom': '20px'}"></p-button>
        </ng-template>
    </p-card>
</div>