#intro {
    color: whitesmoke;
}

#guide {
    color: rgb(215, 217, 219);
}

a {
    color: white;
}

@media screen and (min-width: 600px){
    #guide {
        width: 80%;
        margin: auto;
    }
}