<div>
    <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="rounded"
        data-auto-logout-link="true" data-use-continue-as="true"></div>

    <!-- <div id="spinner"
    style="
        background: #4267b2;
        border-radius: 5px;
        color: white;
        height: 40px;
        text-align: center;
        width: 250px;">
    Loading
    <div
    class="fb-login-button"
    data-max-rows="1"
    data-size="large"
    data-button-type="continue_with"
    data-use-continue-as="true"
    ></div>
</div> -->
</div>